body {
    
}
code {
    white-space: pre-line;
    word-wrap: normal;
}
h3 {
    font-weight: lighter;
}
.div-code {
    background-color: antiquewhite;
    border-radius: 5px;
}
#nav-header {
    font-size: 28px;
    text-align: center;
}
/*Nav bar to left side for bigger screens*/
#nav-bar {
    overflow: hidden;
}
#nav-bar ul {
    height: 75%;
}
#nav-bar li {
    list-style: none;
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
}
#nav-bar a {
    color: black;
    text-decoration: none;
}
#main-doc header {
    font-size: 24px;
}
/*775px navbar to left side of web page*/
@media screen and (min-width: 775px) {
    .flex-container {
        display: flex;
        justify-content: center;
    }
    #main-doc {
        margin-left: 10px;
    }
}